div.swal2-popup.swal2-modal {
    background: linear-gradient(180deg, hsl(230, 12%, 20%) 0%, #1f2027 100%);
}

div.swal2-content {
    color: #ece9e6;
}

div.tno-settings-container {
    text-align: left;
}

div.settings-titles {
    margin-bottom: 13px;
    padding: 0;
    color: #ece9e6;
    font-size: 1.9em;
    font-weight: 600;
}

span.settings-title {
    text-transform: none;
}

span.tno-reload {
    float: right;
    cursor: pointer;
    font-size: 20px;
    width: 27px;
    text-align: center;
    opacity: 0.88;
}

span#tno-reload-message {
    white-space: normal;
    color: #F3F3F3;
}

div.filter-reload-box {
    margin-right: 1px;
}

span.filter-reload {
    color: #70DB93;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.tno-other {
    color: #009000 !important;
}

.tno-hide {
    color: #F3746C !important;
    opacity: 0.75 !important;
}

div.settings-options {
    font-size: 14px;
}

div.settings-option {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span.settings-name {
    margin-right: 8px;
}

.bold {
    font-weight: 600;
}

span.settings-value {
    float: right;
    /* text-align: right; */
    box-sizing: border-box;
    margin-left: 13px;
    display: flex;
    align-items: center;
}

input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}
input[type='checkbox']:focus {
    outline: 0;
}

.toggle {
    height: 16.8px;
    width: 27.3px;
    border-radius: 8.4px;
    display: inline-block;
    position: relative;
    margin: 0;
    border: 2px solid #474755;
    background: linear-gradient(180deg, #2d2f39 0%, #1f2027 100%);
    transition: all 0.2s ease;
}
.toggle:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 8.8px;
    height: 8.8px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
    transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}

.toggle:checked {
    border-color: #654fec;
}

.toggle:checked:after {
    transform: translatex(10.5px);
}

.tooltip {
    position: relative;
    display: inline-block;
}

span.tooltip {
    border-bottom: 1px dotted white;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 3px;
    position: absolute;
    z-index: 1;
    bottom: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
    /* margin-left: -60px; */
}

.tooltip .tooltiptext-wider1 {
        width: 260px;
}

.tooltip .tooltiptext-wider2 {
        width: 279px;
}

.tooltip .tooltiptext2 {
    white-space: nowrap;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 120%;
    margin-left: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    background: none;
    color: rgba(255, 255, 255, 0.8);
}

.tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 4px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.8) transparent transparent transparent;
}

.tooltip:hover .tooltiptext-hover {
    visibility: visible;
}

.lightmodeScreen {
    background-color: #000;
    padding-left: 10px;
    border-radius: 5px;
    opacity: 0.9;
}

.selectCustom {
    position: relative;
    /* width: 28rem; */
    /* height: 30px; */
    top: 0;
    left: 0;
    display: none;
    width: 28rem;
}

.newDiv {
    background-color: red;
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 9.5px;
    font-weight: 600;
    padding: 2px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 13px;
    transform: translate(60%, 18%);
    opacity: 0.9;
    color: #efeff1;
}

@media (hover: hover) {
    .selectCustom {
        /* display: block; */
        display: flex;
        flex-direction: column;
        /* align-items: flex-end; */
        align-items: flex-start;
        /* overflow: hidden; */
        white-space: nowrap;
    }
}

.selectCustom-row {
    display: flex;
    justify-content: flex-end;
}

.selectCustom-label {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    margin-right: 10px;
    line-height: 29px;
    top: 1px;
}

/* Add the focus states too, They matter, always! */
.selectCustom.isActive .selectCustom-trigger {
    outline: none;
    /* box-shadow: white 0 0 0 0.2rem, #ff821f 0 0 0 0.4rem; */
}

.selectWrapper {
    position: relative;
}

.selectCustom-trigger {
    font-size: 13px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.2);
    /* border: 0px solid #6f6f6f; */
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-clip: padding-box;
    transition: box-shadow 0.1s ease-in, border 0.1s ease-in, background-color 0.1s ease-in;
    border-radius: 0.4rem;
    position: relative;
    width: fit-content;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 0.8rem 0.8rem;
    padding-left: 10px;
    padding-right: 24px;
    cursor: pointer;
    line-height: 100%;
}

.selectCustom-trigger::after {
    content: '▾';
    top: 0;
    right: 0.8rem;
    position: absolute;
    height: calc(100% - 3px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.selectCustom-trigger:hover {
    border-color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
}

.selectCustom-options {
    position: absolute;
    top: 38px;
    left: 0;
    width: 28rem;
    border: 0px solid #6f6f6f;
    border-radius: 0.6rem;
    background-color: rgb(24, 24, 27);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 0px 4px rgba(0, 0, 0, 0.4);
    z-index: 1;
    padding: 0.8rem 0;
    display: none;
    overflow: auto;
    max-height: 377px;
    overscroll-behavior: none;
}

.selectCustom.isActive .selectCustom-options {
    display: block;
}

.selectCustom-input,
.selectCustom-option {
    position: relative;
    padding: 0.65rem;
    padding-left: 2.5rem;
    color: white;
    font-size: 1.3rem;
}

.selectCustom-option.isHover,
.selectCustom-option:hover {
    background-color: #865bd7;
    color: white;
    cursor: pointer;
}

.selectCustom-option:not(:last-of-type)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 0px solid #d3d3d3;
}

.selectCustom-option.isActive::before {
    content: '✓';
    position: absolute;
    left: 0.8rem;
}

.optionNotLive {
    opacity: 0.4;
}

.selectCustom-input {
    width: 100%;
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.8);
}

.selectCustom-input:focus {
    outline: none;
}

.select {
    position: relative;
    background: #f8f3ef;
    box-sizing: border-box;
    color: #343434;
    line-height: 1.5;
    font-size: 13px;
    background: none;
}

.select * {
    box-sizing: inherit;
}

.tno-search-div {
    position: absolute;
    width: 520px;
    right: 0;
    margin-top: -82px;
    height: 30px;
}

.tno-search-input {
    width: 100%;
    height: 100%;
    font-family: inherit;
    appearance: none;
    background-clip: padding-box;
    line-height: 1.5;
    transition: border 100ms ease-in,background-color 100ms ease-in;
    border-style: solid;
    border-width: 2px;
    border-color: hsla(0, 0%, 100%, 0.2);
    color: #efeff1;
    background-color: hsla(0, 0%, 100%, 0.2);
    display: block;
    border-radius: 0.4rem !important;
    padding: 0.5rem 1rem 0.5rem 1rem !important;
    font-size: 1.3rem !important;
}

.tno-search-input::placeholder { /* Most modern browsers support this now. */
    color: rgba(239, 239, 241, 0.7);
}

.tno-search-input:hover {
    outline: none;
    border-color: hsla(0, 0%, 100%, 0.3);
    background-color: hsla(0, 0%, 100%, 0.2);
}

.tno-search-input:focus, .tno-search-input:focus:hover {
    outline: none;
    border-color: hsla(0, 0%, 100%, 0.3);
    /* background-color: #000; */
}

.tno-search-input.tno-search-input-lightmode {
    background-color: rgba(0, 0, 0, 0.76);
    border-color: rgba(0, 0, 0, 0.76);
}
